
#btn-create{
    /*Aplicamos el gradiente para versiones antiguas de navegadores*/
    background: -webkit-linear-gradient(to right, #03A9F4, #00E676);
    /* Aplicamos el gradiente para versiones recientes de navegadores */
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 
}

.title {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
